@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  

  
  
  
  
  



  header {
    display: flex;
    justify-content:space-between;
  }

a { 
  text-decoration: none;

} 

.header {
  padding-top: 35px;
  
}

.nav-links .link {
margin-right: 4px ;
}

.arrow2{
  margin-left: 0.31px;
}


.link {
  color: #000;
  margin-right: 3px;
  padding: 4px;
}

header nav a {
  color: #000;
}

/* Mobile first */

header nav {
  display: none;
}


/* Introduction start */

.introduction > .intro-left-side h1 span {
  color: #FF8A56;

}

.introduction > .intro-left-side h1 {
  font-size: 37px;
  margin-top: 42px;
}
/* mobile first */
/* Introduction end */



 /* 476px - telefon , 768-991 - planset , 991-1024 - laptop , 1024 - 1200 personal pc , 1400 + televizor   */

.intro-right-side {
  width: 300px;
  /* margin-bottom: 40px; */
}

.intro-right-side img {
  width: 100%;
  margin-bottom: 70px;
}

.intro-left-side p {
color: #666;
font-size: 18px;
margin-bottom: 38px;
padding-top: 27px;
}

.intro-left-side .book-a-call .book-btn {
  background-color: #222;
  color: #fff;
  width: 151px;
  height: 58px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  transition: 1.4s ease;
  /* border: 5px groove red; + dashed  */
}

/* .book-btn:hover {
  background-color: #ccc !important;
} */

.cv {
  margin-left: 20px;
  color: #000;
}

.arrow {
  margin-left: 4px;
  color: #000;
}

.shirketler h5 {
  text-align: center;
  margin-bottom: 45px;
}

.partnyorlar {
  display: flex;
  justify-content: space-around;
}

.shirket:nth-child(3) ,
.shirket:nth-child(4)
{
  display: none;
}

.services-section ul{
  list-style-type: square;
}

.services-section .service-icon {
  width: 70px;
}

.services-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill , minmax(306px, 1fr));
  gap: 90px;
  
  
}

.card {
  border: none;
  
}

.services-section h6 {
  color: red;
  padding-top: 70px;
  padding-bottom: 35px;
}






@media(min-width:768px) {

  .fa-bars {
    display: none;
  }

  header nav {
    display: flex;
    gap: 3px;
    align-items: center;
  }
  .introduction {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
  }

  .introduction .intro-left-side h1 {
    font-size: 3rem;

  }



  .intro-right-side {
    width: 400px;
    margin-top: 70px;
  }

.shirket:nth-child(3) {
  display: flex;
} 
/* .card:nth-child(3) {
  flex-direction: column;
} */

}

@media(min-width:992px ) {
  .introduction .intro-left-side h1 {
    font-size: 4.5rem;
  }
  .shirket:nth-child(4) {
    display: flex;
  }



}



